.wd-course-navigation.list-group {
    border:none;
    margin-left: 10px;
    border-radius: 0px;
}

.wd-course-navigation.list-group-item {
    color: red;
    border: none;
    padding-left: 10px;
}

.wd-course-navigation.list-group-item.active {
    color: black;
    background-color: white;
    border-left: 2px solid black;
    
}