.list-group.wd-card-group{
    background-color: white;
}

.wd-header {
    font-size: xx-large;
}

.wd-published-courses{
    font-size: larger;
}

#wd-courses-col {
    width: 270px;
    height: 500px; 
}

.card-title.wd-card-title{
    color: #2d5dc6;
}

